.footerContainer {
  bottom: 0;
  position: relative;
  background-color: #192849;
  height: 150px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.footerContainer .footerRow1 {
  display: flex;
  flex-direction: row;
  flex: 5;
}

.footerContainer h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  flex: 3;
  font-size: 4rem;
  font-weight: normal;
  letter-spacing: 5px;
  color: #fff;
}

.footerContainer .footerRow1 .column2,
.footerContainer .footerRow1 .column3 {
  display: flex;
  flex-direction: column;
  flex: 3;
  color: #fff;
  justify-content: space-between;
  font-size: 1.8rem;
  border-left: 1px solid aqua;
  height: 80%;
  margin-top: 20px;
}
.footerContainer .footerRow1 .column2 p,
.footerContainer .footerRow1 .column3 p {
  padding-left: 20px;
}

.footerContainer .footerRow2 {
  display: flex;
  flex: 2;
  background-color: #142342;
  margin-top: 20px;
  color: #ddd;
  align-items: center;
  justify-content: center;
}
