$theme: #34495e;
$white: #fff;

.no-suggestions {
    color: red;
    margin-top: 3px;
    font-size: 15px;
  }
  
  .suggestions {
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(165px + 1rem);
    border: 1px solid #999;
  }
  
  .suggestions li {
    padding: 0.5rem;
    font-size: 10px;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: $theme;
    color: $white;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
  }
  