.no-suggestions {
  color: red;
  margin-top: 3px;
  font-size: 15px;
}

.suggestions {
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(165px + 1rem);
  border: 0.5px solid #ddd;
}

.suggestions li {
  padding: 0.5rem;
  font-size: 10px;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #34495e;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
