.headerContainer {
  display: flex;
  flex-direction: row;
  background-color: #34495e;
  padding-left: 20px;
  height: 60px;
  width: 100vw;
}

.headerContainer h1 {
  font-size: 2.7rem;
  color: #fff;
  margin-top: 10px;
}

.headerContainer .faRing {
  display: flex;
  align-self: center;
  color: #fff;
  margin-left: 10px;
  font-size: 22px;
}
