* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.App {
  margin: 0;
  width: 100%;
  background: #fff;
  min-height: calc(100vh - 150px);
}

.clear:before,
.clear:after {
  content: '\0020';
  display: block;
  height: 0;
  overflow: hidden;
}

.clear:after {
  clear: both;
}
